<form action="/result">
  <div class="form-group">
    <label for="user_word">Enter your word</label>
    <input id="user_word" type="text" name="user_word" class="form-control">
    <label for="anagrams">Enter your possible anagrams, separated by spaces</label>
    <input id="anagrams" type="text" name="anagrams" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success btn-lg" id="submit">Scramble</button>
</form>
